<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="~/css/major.css">
	<link rel="stylesheet" type="text/css" href="css/contact.css"/>
</head>
<body>
	<header>
		<nav class="container">
			<a href="" class="logo">
				<span>STANLEY</span>
			</a>
			<ul id="menu">
				<li><a href="">WORK</a></li>
				<li><a href="">ABOUT</a></li>
				<li><a href="">BLOG</a></li>
				<li><a href="">CONTACT</a></li>
			</ul>
		</nav>
	</header>
	@RenderBody()
	<footer>
		<div class="top-footer">
			<div class="top-footer-elems">
				<div class="my-bunker">
					<h4>MY BUNKER</h4>
					<p>Some Address 987,</p>
					<p>+34 9054 5455</p>
					<p>Madrid, Spain</p>
				</div>
				<div class="about-stanley">
					<h4>ABOUT STANLEY</h4>
					<p>This cute them was created to showcase</p>
					<p>your work in a simple way. Use it wisely.</p>
				</div>
				<div class="my-links">
					<h4>MY LINKS</h4>
					<p><a href="">Dribbble</a></p>
					<p><a href="">Twitter</a></p>
					<p><a href="">Facebook</a></p>
				</div>
			</div>
		</div>
		<div class="down-footer">
			<div class="copyright">
				<p id="copyright">© Copyrights <span>Stanley</span>. All Rights Reserved</p>
				<p>Created with Stanley template by <a>TemplateMag</a></p>
			</div>
		</div>
	</footer>
</body>
</html>