@{
    Layout = "_MajorLayout";
}

<div class="hi">
    <div class="hi-img">
        <img src="https://templatemag.com/demo/templates/Stanley/img/user.png">
    </div>
    <div class="hi-h1">
        <h1>Hi, I am Stanley!</h1>
    </div>
    <div class="hi-p1">
        <p>Hello everybody. I'm Stanley, a free handsome bootstrap theme coded. A really simple theme <br>
            for those wanting to showcase their work with a cute & clean style.</p>
        <br>
    </div>
    <div class="hi-p2">
        <p>Please, consider to register to <a href="">our newsletter</a> to be updated with our latest themes and <br> freebies. Like always, you can use this theme in any project freely. Share it with your friends.</p>
    </div>
</div>
<div class="images">
    <div class="top-images">
        <a href="">
            <img src="https://templatemag.com/demo/templates/Stanley/img/portfolio/port01.jpg" id="left-top-img">
        </a>
        <a href="">
            <img src="https://templatemag.com/demo/templates/Stanley/img/portfolio/port02.jpg" id="center-top-img">
        </a>
        <a href="">
            <img src="https://templatemag.com/demo/templates/Stanley/img/portfolio/port03.jpg" id="right-top-img">
        </a>
    </div>
    <div class="top-images-labels">
        <ul id="top-labels">
            <li id="ape">APE</li>
            <li id="raiders">RAIDERS</li>
            <li id="vikings">VIKINGS</li>
        </ul>
    </div>
    <div class="down-images">
        <a href="">
            <img src="https://templatemag.com/demo/templates/Stanley/img/portfolio/port04.jpg" id="left-down-img">
        </a>
        <a href="">
            <img src="https://templatemag.com/demo/templates/Stanley/img/portfolio/port05.jpg" id="center-down-img">
        </a>
        <a href="">
            <img src="https://templatemag.com/demo/templates/Stanley/img/portfolio/port06.jpg" id="right-down-img">
        </a>
    </div>
    <div class="down-images-labels">
        <ul id="down-labels">
            <li id="yoda">YODA</li>
            <li id="emperors">EMPERORS</li>
            <li id="chiefs">CHIEFS</li>
        </ul>
    </div>
</div>